<div class="navbar bg-base-100 my-2 border-solid border-2 border-base-100 rounded-full">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li><a href="#experience">Expériences</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#side_projects">Side project</a></li>
        <li><a href="#pro_projects">Company project</a></li>
        <li><a href="#certifications">Certifications</a></li>
      </ul>
    </div>
    <a href="#hero" class="btn btn-ghost text-xl rounded-full">{{ cv.basics.profiles.pseudo }}</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
        <li><a href="#experience">Expériences</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#side_projects">Side project</a></li>
        <li><a href="#pro_projects">Company project</a></li>
        <li><a href="#certifications">Certifications</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <a class="mr-8 rounded-full" href="https://github.com/zak39" alt="lien vers mon github">
        <img class="size-8" src={{ asset('images/social-network/github.svg') }} alt="logo de GitHub">
    </a>
  </div>
</div>
