{#<span class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-sm text-purple-700">
  {{ skill.name }}
</span>
#}

{# <div class="badge badge-secondary">{{ skill.name }}</div>
#}

<div class="my-6 sm:ml-0">
  <h1 id="skills" class="text-3xl font-bold sm:text-4xl mb-16">Skills</h1>
  <div class="flex flex-column sm:flex-row flex-wrap gap-12 justify-center">
    {% for skill in cv.skills %}
      <img class="size-28" src={{ asset(skill.img) }} alt={{ skill.name }}>
    {% endfor %}
  </div>
</div>
